parameters:
    level: 9
    paths:
        - ../../src/
        - ../../tests/
    ignoreErrors:
        - '#Property [a-zA-Z0-9\\_]+::\$id is never written, only read.#'
        - '#Property [a-zA-Z0-9\\_]+::\$uid is never written, only read.#'
        - '#Property [a-zA-Z0-9\\_]+::\$pId is never written, only read.#'
